.buttonFilterHotels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  padding: 3px 0;
}
.buttonFilterHotels i {
  color: #c7bc7c;
}
.buttonFilterHotels__input {
  padding: 2px 8px;
  border-radius: 8px;
  border: none;
  height: 36px;
  width: 100%;
}
.buttonFilterHotels__inputRange {
  width: 45%;
  padding: 2px 8px;
  border-radius: 8px;
  border: none;
  height: 36px;
}
