.provider__textSeach {
    font-size: 0.7rem;
    margin-bottom: 0;
    align-items: center;
}
.formProvider {
    border-radius: 17px;
    background: #fff;
    padding: 20px 60px;
    margin-bottom: 2rem;
}