.adminMenu {
    background: transparent radial-gradient(closest-side at 50% 50%, #707070 0%, #383838 100%) 0% 0% no-repeat padding-box;
    border-radius: 17px;
    padding: 30px 10px;
}
.adminMenu ul {
    list-style: none;
}
.adminMenu ul li{
    color: #fff;
    border-bottom: 1px solid #C7BC7C;
    padding: 10px 0;
    cursor: pointer;
}
.adminMenu a {
    text-decoration: none;
    color: #fff;
}
.adminMenu__active {
    background: #6B6CB0;
}
.adminMenu__linkActive {
    background: #6B6CB0;
    width: max-content;
    border-radius: 10px;
    padding: 0 4px;
}