.productDetails {
    background: transparent radial-gradient(closest-side at 50% 50%, #003C6B 0%, #001E36 100%) 0% 0% no-repeat padding-box;
}
.cartPage__header {

}
.productDetails h2{
    font-weight: bold;
    color: #fff;
}